<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Ads - Home</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Navigation</h3>
                </div>
                <div class="panel-body">
                    <a href="#/" class="btn btn-warning">Home</a>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">To publish a new ad, please login.</h3>
                </div>
                <div class="panel-body">
                    <a href="#/login.html" class="btn btn-warning">Login</a>
                    <a href="#/register.html" class="btn btn-warning">Register</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            ads
        </div>

        <div class="col-md-3">
            filter
        </div>
    </div>
</div>